@model IEnumerable<MvcClient.Models.Basket.BasketListModel>
@using MvcClient.Enums

@{
    ViewData["Title"] = "Basket";
    BasketState basketState;
    string? name;
}

<h1>Basket</h1>
@if (ViewData.ContainsKey("BasketState"))
{
    basketState = (BasketState)ViewData["BasketState"]!;
    name = ViewData.ContainsKey("Name") ? (string) ViewData["Name"]! : null;
    <div class="alert alert-success" role="alert">
        @if (basketState == BasketState.Added)
        {
            @if (name is not null)
            {
                @("Catalog " + name + " has been successfully added to basket!")
            }
            else
            {
                @("The Catalog has been successfully added to basket!")
            }
        }
        else
        {
            @if (name is not null)
            {
                @("The basket item has been successfully removed from " + name + "'s Basket")
            }
            else
            {
                @("The basket item has been successfully removed.")
            }
        }
    </div>
}
<p>
    To create a new basket, Add to Basket from <a asp-controller="Catalog" asp-action="Index">Catalog</a>
</p>
@if (Model.Count() <= 0)
{
    <p>Basket is currently empty.</p>
}
else
{
    <div class="accordion" id="basketAccordion">
        @foreach (var basket in Model)
        {
            <div class="accordion-item">
                <h2 class="accordion-header" id="@("heading"+basket.Buyer)">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="@("#collapse"+basket.Buyer)" aria-expanded="true" aria-controls="@("collapse"+basket.Buyer)">
                        @basket.Buyer
                    </button>
                </h2>
                <div id="@("collapse"+basket.Buyer)" class="accordion-collapse collapse show" aria-labelledby="@("heading"+basket.Buyer)">
                    <div class="accordion-body">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>
                                        ID
                                    </th>
                                    <th>
                                        Product Name
                                    </th>
                                    <th>
                                        Unit Price
                                    </th>
                                    <th>
                                        Quantity
                                    </th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                            @foreach (var item in basket.Items!)
                            {
                                <tr>
                                    <td>
                                        @item.Id
                                    </td>
                                    <td>
                                        @item.ProductName
                                    </td>
                                    <td>
                                        @item.UnitPrice
                                    </td>
                                    <td>
                                        @item.Quantity
                                    </td>
                                    <td>
                                        @Html.ActionLink("Checkout", "Checkout", new { /* id=item.PrimaryKey */ }) |
                                        @Html.ActionLink("Delete", "Delete", new { buyer = basket.Buyer, id = item.Id })
                                    </td>
                                </tr>
                            }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        }
    </div>
}
